.pulse {
    position: relative;
  }
  .pulse .pulse-ring {
    display: block;
    border-radius: 40px;
    height: 40px;
    width: 40px;
    position: absolute;
    -webkit-animation: animation-pulse 3.5s ease-out;
    animation: animation-pulse 3.5s ease-out;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    opacity: 0;
    border-width: 3px;
    border-style: solid;
    border-color: #E4E6EF;
  }
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .pulse .pulse-ring {
      top: 2px;
      left: 2px;
    }
  }
  .pulse.pulse-primary .pulse-ring {
    border-color: rgba(54, 153, 255, 0.75);
  }
  .pulse.pulse-secondary .pulse-ring {
    border-color: rgba(228, 230, 239, 0.75);
  }
  .pulse.pulse-success .pulse-ring {
    border-color: rgba(27, 197, 189, 0.75);
  }
  .pulse.pulse-info .pulse-ring {
    border-color: rgba(137, 80, 252, 0.75);
  }
  .pulse.pulse-warning .pulse-ring {
    border-color: rgba(255, 168, 0, 0.75);
  }
  .pulse.pulse-danger .pulse-ring {
    border-color: rgba(246, 78, 96, 0.75);
  }
  .pulse.pulse-light .pulse-ring {
    border-color: rgba(243, 246, 249, 0.75);
  }
  .pulse.pulse-dark .pulse-ring {
    border-color: rgba(24, 28, 50, 0.75);
  }
  .pulse.pulse-white .pulse-ring {
    border-color: rgba(255, 255, 255, 0.75);
  }
  
  @-webkit-keyframes animation-pulse {
    0% {
      -webkit-transform: scale(0.1, 0.1);
      opacity: 0;
    }
    60% {
      -webkit-transform: scale(0.1, 0.1);
      opacity: 0;
    }
    65% {
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1.2, 1.2);
      opacity: 0;
    }
  }
  
  @keyframes animation-pulse {
    0% {
      -webkit-transform: scale(0.1, 0.1);
      opacity: 0;
    }
    60% {
      -webkit-transform: scale(0.1, 0.1);
      opacity: 0;
    }
    65% {
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1.2, 1.2);
      opacity: 0;
    }
  }
  .page-loading * {
    -webkit-transition: none !important;
    transition: none !important;
  }
  