/* https://dev.to/jaredcwhite/custom-elements-everywhere-for-page-layout-parts-i-and-ii-438p */
:root {
  /* PAGE */
  --page-display: grid;
  --page-columns: 1fr 1fr 1fr;
  --page-rows: auto 1fr auto;
  --page-gap: 20px 20px;
  --page-height: 100vh;
  --page-width: 100vw;
  --page-margin: 0;
  --page-padding: 0;
  --page-overflow: hidden;
  
  /* PANEL */
  --panel-display: grid;
  --panel-gap: 0 0;
  --panel-padding: 10px;
  --panel-content-overflow: auto;
  --panel-border-radius: 5px;

  /* UTILITY */
  --display-none: none;
}
*:before,
*:after,
*,
::after,
::before {box-sizing: border-box;}
html,
body {
  margin: var(--page-margin);
  padding: var(--page-padding);
  font-family: Calibri, "Gill Sans", "Gill Sans MT", "Trebuchet MS", sans-serif;
}
panel-01,
panel-02,
panel-03,
panel-04,
panel-05,
panel-06,
panel-07 {
  border:var(--panel-border);
  -webkit-border-radius: var(--panel-border-radius);
  -moz-border-radius: var(--panel-border-radius);
  -ms-border-radius: var(--panel-border-radius);
  -o-border-radius: var(--panel-border-radius);
  border-radius: var(--panel-border-radius);
}
page-container {
  display: var(--page-display);
  height: var(--page-height);
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto 1fr auto;
  gap: var(--page-gap);
  grid-template-areas:
    "page-header page-header page-header  page-header page-header page-header page-header"
    "panel-01    panel-02    panel-03     panel-04    panel-05    panel-06    panel-07"
    "page-footer page-footer page-footer  page-footer page-footer page-footer page-footer";
}

page-header {
  display: var(--page-display);
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: var(--page-gap);
  grid-template-areas: "page-header-left page-header-center page-header-right";
  grid-area: page-header;
}

page-header-left {
  display: var(--page-display);
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: var(--page-gap);
  grid-template-areas: ".";
  grid-area: page-header-left;
  padding: var(--panel-padding);
}

page-header-center {
  display: var(--page-display);
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: var(--page-gap);
  grid-template-areas: ".";
  grid-area: page-header-center;
  justify-items: center;
  padding: var(--panel-padding);
}

page-header-right {
  display: var(--page-display);
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: var(--page-gap);
  grid-template-areas: ".";
  grid-area: page-header-right;
  justify-items: right;
  padding: var(--panel-padding);
}

page-footer {
  display: var(--page-display);
  grid-template-columns: auto 1fr auto;
  grid-template-rows: 1fr;
  gap: var(--page-gap);
  grid-template-areas: "page-footer-left page-footer-center page-footer-right";
  grid-area: page-footer;
}

  page-footer-left {
    display: var(--page-display);
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: var(--page-gap);
    grid-template-areas: ".";
    grid-area: page-footer-left;
    padding: var(--panel-padding);
  }
  page-footer-center {
    display: var(--page-display);
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: var(--page-gap);
    grid-template-areas: ".";
    grid-area: page-footer-center;
    justify-items: center;
    padding: var(--panel-padding);
  }
  page-footer-right {
    display: var(--page-display);
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: var(--page-gap);
    grid-template-areas: ".";
    grid-area: page-footer-right;
    justify-items: right;
    padding: var(--panel-padding);
  }

/* page-main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto 1fr auto;
  gap: 0 20px;
  grid-template-areas:
    "panel-01-header  panel-02-header  panel-03-header  panel-04-header  panel-05-header  panel-06-header  panel-07-header"
    "panel-01-content panel-02-content panel-03-content panel-04-content panel-05-content panel-06-content panel-07-content"
    "panel-01-footer  panel-02-footer  panel-03-footer  panel-04-footer  panel-05-footer  panel-06-footer  panel-07-footer";
  grid-area: page-main;
} */

panel-01 {
  display: var(--panel-display);
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  gap: var(--panel-gap);
  grid-template-areas:
    "panel-01-header"
    "panel-01-content"
    "panel-01-footer";
  grid-area: panel-01;
  margin-left: 20px;
}
  panel-01-header {
    display: var(--panel-display);
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: var(--panel-gap);
    grid-template-areas: "panel-01-header-left panel-01-header-center panel-01-header-right";
    grid-area: panel-01-header;
  }
    panel-01-header-left {
      grid-area: panel-01-header-left;
      padding: var(--panel-padding);
    }
    panel-01-header-center {
      display: var(--panel-display);
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      gap: var(--panel-gap);
      grid-template-areas: ".";
      grid-area: panel-01-header-center;
      justify-items: center;
      padding: var(--panel-padding);
    }
    panel-01-header-right {
      display: var(--panel-display);
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      gap: var(--panel-gap);
      grid-template-areas: ".";
      grid-area: panel-01-header-right;
      justify-items: right;
      padding: var(--panel-padding);
    }
  panel-01-content {
    display: var(--panel-display);
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: var(--panel-gap);
    grid-template-areas: ".";
    grid-area: panel-01-content;
    padding: var(--panel-padding);
  }
  panel-01-footer {
    display: var(--panel-display);
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: var(--panel-gap);
    grid-template-areas: "panel-01-footer-left panel-01-footer-center panel-01-footer-right";
    grid-area: panel-01-footer;
  }
    panel-01-footer-left {
      grid-area: panel-01-footer-left;
      padding: var(--panel-padding);
    }
    panel-01-footer-center {
      display: var(--panel-display);
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      gap: var(--panel-gap);
      grid-template-areas: ".";
      grid-area: panel-01-footer-center;
      justify-items: center;
      padding: var(--panel-padding);
    }
    panel-01-footer-right {
      display: var(--panel-display);
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      gap: var(--panel-gap);
      grid-template-areas: ".";
      grid-area: panel-01-footer-right;
      justify-items: right;
      padding: var(--panel-padding);
    }

panel-02 {
  display: var(--panel-display);
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  gap: 0 0;
  grid-template-areas:
    "panel-02-header"
    "panel-02-content"
    "panel-02-footer";
  grid-area: panel-02;
}
  panel-02-header {
    display: var(--panel-display);
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: var(--panel-gap);
    grid-template-areas: "panel-02-header-left panel-02-header-center panel-02-header-right";
    grid-area: panel-02-header;
  }
    panel-02-header-left {
      grid-area: panel-02-header-left;
      padding: var(--panel-padding);
    }
    panel-02-header-center {
      display: var(--panel-display);
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      gap: var(--panel-gap);
      grid-template-areas: ".";
      grid-area: panel-02-header-center;
      justify-items: center;
      padding: var(--panel-padding);
    }
    panel-02-header-right {
      display: var(--panel-display);
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      gap: var(--panel-gap);
      grid-template-areas: ".";
      grid-area: panel-02-header-right;
      justify-items: right;
      padding: var(--panel-padding);
    }
  panel-02-content {
    display: var(--panel-display);
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: var(--panel-gap);
    grid-template-areas: ".";
    grid-area: panel-02-content;
    padding: var(--panel-padding);
  }
  panel-02-footer {
    display: var(--panel-display);
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: var(--panel-gap);
    grid-template-areas: "panel-02-footer-left panel-02-footer-center panel-02-footer-right";
    grid-area: panel-02-footer;
  }
    panel-02-footer-left {
      display: var(--panel-display);
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      gap: var(--panel-gap);
      grid-template-areas: ".";
      grid-area: panel-02-footer-left;
      padding: var(--panel-padding);
    }
    panel-02-footer-center {
      display: var(--panel-display);
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      gap: var(--panel-gap);
      grid-template-areas: ".";
      grid-area: panel-02-footer-center;
      justify-items: center;
      padding: var(--panel-padding);
    }
    panel-02-footer-right {
      display: var(--panel-display);
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      gap: var(--panel-gap);
      grid-template-areas: ".";
      grid-area: panel-02-footer-right;
      justify-items: right;
      padding: var(--panel-padding);
    }

panel-03 {
  display: var(--panel-display);
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  gap: var(--panel-gap);
  grid-template-areas:
    "panel-03-header"
    "panel-03-content"
    "panel-03-footer";
  grid-area: panel-03;
}
  panel-03-header {
    display: var(--panel-display);
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: var(--panel-gap);
    grid-template-areas: "panel-03-header-left panel-03-header-center panel-03-header-right";
    grid-area: panel-03-header;
  }
    panel-03-header-left {
      display: var(--panel-display);
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      gap: var(--panel-gap);
      grid-template-areas: ".";
      grid-area: panel-03-header-left;
      padding: var(--panel-padding);
    }
    panel-03-header-center {
      display: var(--panel-display);
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      gap: var(--panel-gap);
      grid-template-areas: ".";
      grid-area: panel-03-header-center;
      justify-items: center;
      padding: var(--panel-padding);
    }
    panel-03-header-right {
      display: var(--panel-display);
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      gap: var(--panel-gap);
      grid-template-areas: ".";
      grid-area: panel-03-header-right;
      justify-items: right;
      padding: var(--panel-padding);
    }
    
  panel-03-content {
    display: var(--panel-display);
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: var(--panel-gap);
    grid-template-areas: ".";
    grid-area: panel-03-content;
    padding: var(--panel-padding);
  }
  panel-03-footer {
    display: var(--panel-display);
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: var(--panel-gap);
    grid-template-areas: "panel-03-footer-left panel-03-footer-center panel-03-footer-right";
    grid-area: panel-03-footer;
  }
    panel-03-footer-left {
      display: var(--panel-display);
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      gap: var(--panel-gap);
      grid-template-areas: ".";
      grid-area: panel-03-footer-left;
      padding: var(--panel-padding);
    }
    panel-03-footer-center {
      display: var(--panel-display);
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      gap: var(--panel-gap);
      grid-template-areas: ".";
      grid-area: panel-03-footer-center;
      justify-items: center;
      padding: var(--panel-padding);
    }
    panel-03-footer-right {
      display: var(--panel-display);
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      gap: var(--panel-gap);
      grid-template-areas: ".";
      grid-area: panel-03-footer-right;
      justify-items: right;
      padding: var(--panel-padding);
    }

panel-04 {
  display: var(--panel-display);
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  gap: var(--panel-gap);
  grid-template-areas:
    "panel-04-header"
    "panel-04-content"
    "panel-04-footer";
  grid-area: panel-04;
}
  panel-04-header {
    display: var(--panel-display);
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: var(--panel-gap);
    grid-template-areas: "panel-04-header-left panel-04-header-center panel-04-header-right";
    grid-area: panel-04-header;
  }
    panel-04-header-left {
      display: var(--panel-display);
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      gap: var(--panel-gap);
      grid-template-areas: ".";
      grid-area: panel-04-header-left;
      padding: var(--panel-padding);
    }
    panel-04-header-right {
      display: var(--panel-display);
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      gap: var(--panel-gap);
      grid-template-areas: ".";
      grid-area: panel-04-header-right;
      justify-items: right;
      padding: var(--panel-padding);
    }
    panel-04-header-center {
      display: var(--panel-display);
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      gap: var(--panel-gap);
      grid-template-areas: ".";
      grid-area: panel-04-header-center;
      justify-items: center;
      padding: var(--panel-padding);
    }
  panel-04-content {
    display: var(--panel-display);
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: var(--panel-gap);
    grid-template-areas: ".";
    grid-area: panel-04-content;
    padding: var(--panel-padding);
  }
  panel-04-footer {
    display: var(--panel-display);
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: var(--panel-gap);
    grid-template-areas: "panel-04-footer-left panel-04-footer-center panel-04-footer-right";
    grid-area: panel-04-footer;
  }
    panel-04-footer-left {
      display: var(--panel-display);
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      gap: var(--panel-gap);
      grid-template-areas: ".";
      grid-area: panel-04-footer-left;
      padding: var(--panel-padding);
    }
    panel-04-footer-center {
      display: var(--panel-display);
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      gap: var(--panel-gap);
      grid-template-areas: ".";
      grid-area: panel-04-footer-center;
      justify-items: center;
      padding: var(--panel-padding);
    }
    panel-04-footer-right {
      display: var(--panel-display);
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      gap: var(--panel-gap);
      grid-template-areas: ".";
      grid-area: panel-04-footer-right;
      justify-items: right;
      padding: var(--panel-padding);
    }

panel-05 {
  display: var(--panel-display);
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  gap: var(--panel-gap);
  grid-template-areas:
    "panel-05-header"
    "panel-05-content"
    "panel-05-footer";
  grid-area: panel-05;
}
panel-05-header {
  display: var(--panel-display);
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: var(--panel-gap);
  grid-template-areas: "panel-05-header-left panel-05-header-center panel-05-header-right";
  grid-area: panel-05-header;
}
  panel-05-header-left {
    display: var(--panel-display);
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: var(--panel-gap);
     grid-template-areas: ".";
    grid-area: panel-05-header-left;
    padding: var(--panel-padding);
  }
  panel-05-header-center {
    display: var(--panel-display);
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: var(--panel-gap);
    grid-template-areas: ".";
    grid-area: panel-05-header-center;
    justify-items: center;
    padding: var(--panel-padding);
  }
  panel-05-header-right {
    display: var(--panel-display);
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: var(--panel-gap);
    grid-template-areas: ".";
    grid-area: panel-05-header-right;
    justify-items: right;
    padding: var(--panel-padding);
  }

panel-05-content {
  display: var(--panel-display);
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: var(--panel-gap);
  grid-template-areas: ".";
  grid-area: panel-05-content;
  padding: var(--panel-padding);
}
panel-05-footer {
  display: var(--panel-display);
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: var(--panel-gap);
  grid-template-areas: "panel-05-footer-left panel-05-footer-center panel-05-footer-right";
  grid-area: panel-05-footer;
}
  panel-05-footer-left {
    display: var(--panel-display);
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: var(--panel-gap);
    grid-template-areas: ".";
    grid-area: panel-05-footer-left;
    padding: var(--panel-padding);
  }
  panel-05-footer-center {
    display: var(--panel-display);
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: var(--panel-gap);
    grid-template-areas: ".";
    grid-area: panel-05-footer-center;
    justify-items: center;
    padding: var(--panel-padding);
  }
  panel-05-footer-right {
    display: var(--panel-display);
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: var(--panel-gap);
    grid-template-areas: ".";
    grid-area: panel-05-footer-right;
    justify-items: right;
    padding: var(--panel-padding);
  }

panel-06 {
  display: var(--panel-display);
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  gap: var(--panel-gap);
  grid-template-areas:
    "panel-06-header"
    "panel-06-content"
    "panel-06-footer";
  grid-area: panel-06;
}
  panel-06-header {
    display: var(--panel-display);
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: var(--panel-gap);
    grid-template-areas: "panel-06-header-left panel-06-header-center panel-06-header-right";
    grid-area: panel-06-header;
  }
    panel-06-header-left {
      display: var(--panel-display);
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      gap: var(--panel-gap);
      grid-template-areas: ".";
      grid-area: panel-06-header-left;
      padding: var(--panel-padding);
    }
    panel-06-header-center {
      display: var(--panel-display);
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      gap: var(--panel-gap);
      grid-template-areas: ".";
      grid-area: panel-06-header-center;
      justify-items: center;
      padding: var(--panel-padding);
    }
    panel-06-header-right {
      display: var(--panel-display);
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      gap: var(--panel-gap);
      grid-template-areas: ".";
      grid-area: panel-06-header-right;
      justify-items: right;
      padding: var(--panel-padding);
    }
  panel-06-content {
    display: var(--panel-display);
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: var(--panel-gap);
    grid-template-areas: ".";
    grid-area: panel-06-content;
    padding: var(--panel-padding);
  }
  panel-06-footer {
    display: var(--panel-display);
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: var(--panel-gap);
    grid-template-areas: "panel-06-footer-left panel-06-footer-center panel-06-footer-right";
    grid-area: panel-06-footer;
  }
    panel-06-footer-left {
      display: var(--panel-display);
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      gap: var(--panel-gap);
      grid-template-areas: ".";
      grid-area: panel-06-footer-left;
      padding: var(--panel-padding);
    }
    panel-06-footer-center {
      display: var(--panel-display);
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      gap: var(--panel-gap);
      grid-template-areas: ".";
      grid-area: panel-06-footer-center;
      justify-items: center;
      padding: var(--panel-padding);
    }
    panel-06-footer-right {
      display: var(--panel-display);
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      gap: var(--panel-gap);
      grid-template-areas: ".";
      grid-area: panel-06-footer-right;
      justify-items: right;
      padding: var(--panel-padding);
    }

panel-07 {
  display: var(--panel-display);
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  gap: var(--panel-gap);
  grid-template-areas:
    "panel-07-header"
    "panel-07-content"
    "panel-07-footer";
  grid-area: panel-07;
  margin-right: 20px;
}
  panel-07-header {
    display: var(--panel-display);
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: var(--panel-gap);
    grid-template-areas: "panel-07-header-left panel-07-header-center panel-07-header-right";
    grid-area: panel-07-header;
  }
    panel-07-header-left {
      display: var(--panel-display);
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      gap: var(--panel-gap);
      grid-template-areas: ".";
      grid-area: panel-07-header-left;
      padding: var(--panel-padding);
    }
    panel-07-header-center {
      display: var(--panel-display);
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      gap: var(--panel-gap);
      grid-template-areas: ".";
      grid-area: panel-07-header-center;
      justify-items: center;
      padding: var(--panel-padding);
    }
    panel-07-header-right {
      display: var(--panel-display);
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      gap: var(--panel-gap);
      grid-template-areas: ".";
      grid-area: panel-07-header-right;
      justify-items: right;
      padding: var(--panel-padding);
    }
  panel-07-content {
    display: var(--panel-display);
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: var(--panel-gap);
    grid-template-areas: ".";
    grid-area: panel-07-content;
    padding: var(--panel-padding);
  }
  panel-07-footer {
    display: var(--panel-display);
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: var(--panel-gap);
    grid-template-areas: "panel-07-footer-left panel-07-footer-center panel-07-footer-right";
    grid-area: panel-07-footer;
  }
    panel-07-footer-left {
      display: var(--panel-display);
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      gap: var(--panel-gap);
      grid-template-areas: ".";
      grid-area: panel-07-footer-left;
      padding: var(--panel-padding);
    }
    panel-07-footer-center {
      display: var(--panel-display);
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      gap: var(--panel-gap);
      grid-template-areas: ".";
      grid-area: panel-07-footer-center;
      justify-items: center;
      padding: var(--panel-padding);
    }
    panel-07-footer-right {
      display: var(--panel-display);
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      gap: var(--panel-gap);
      grid-template-areas: ".";
      grid-area: panel-07-footer-right;
      justify-items: right;
      padding: var(--panel-padding);
    }