/* 
page-header and page-footer are the first and last children of page-container
.layout-01 = Metrics dashboard 
Hide first 3 panels 
*/
.layout-01 page-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "page-header page-header page-header page-header"
    "panel-04    panel-05    panel-06    panel-07"
    "page-footer page-footer page-footer page-footer";
}
/*
n = begins counting from the start 
-n = begins counting from the end
https://developer.mozilla.org/en-US/docs/Web/CSS/:nth-child 

Hide page-container children 2-5 (panels 01-03) 
*/
.layout-01 page-container > :nth-child(n+2):nth-child(-n+4) {display: none;}
/* Add margin-left to 5th child of page-container (panel-04) */
.layout-01 page-container > :nth-child(5) {margin-left: 20px;}

@media only screen and (max-width: 600px) {
    .layout-01 page-container {
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr 1fr 1fr 1fr auto;
        grid-template-areas:
        "page-header"
        "panel-04"
        "panel-05"
        "panel-06"
        "panel-07"
        "page-footer";
    }
}